body {
	background-image: url("../images/background.jpg");
}

#heading{
	width:100%;
	height:200px;
	text-align:center;
	padding:10px 100px 0px 100px;
}

h1{
	text-align:center;
	font-size:35px;
	color:grey;
	text-decoration: underline;
}

.character-image {
	display: inline-block;
  	height: 250px;
	padding: 0px 20px 0px 20px;
	margin: 0px 2px 0px 2px;
}

.character-image p {
	text-align: center;
	margin: 0px 2px 0px 2px;
	color:yellow;
}

#image{
	height:250px;
	width:170px;

}
#character-selection {
	height: 400px;
	width: 100%;
}

#character-selection h2 {
	font-size: 35px;
	color:grey;
}

#enemies-available{
	height:400px;
	width:100%;
}

#enemies-available h2 {
	font-size: 35px;
    text-align:center;
    color:grey;
}

.enemy-character {
	margin: 0px 2px 0px 2px;
	height:300px;
}

#defender-section {
	height: 400px;
}

#defender-section h2 {
	font-size:35px;
	color:grey;
}

.defender-character {
	text-align:center;
}

#game-message {
	font-size: 25px;
	font-weight: bold;
    color: yellow;
}

#fight-section{
	text-align:center;
}

#attack{
	text-align:center;
	background-color:red;
	width:300px;
	height:150px;
	font-size:35px;
	font-weight:bold;
}